.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000000;
    padding: 0 35px;
}

.wrapper .carousel {
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel .dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.carousel .dragging img {
    pointer-events: none;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.icon {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .icon-left {
    left: 0;
    right: auto;
    margin-left: -12px;
    display: none;
  }
  
  .icon-right {
    right: 0;
    left: auto;
    margin-right: -12px;
    display: none;
  }

.carousel img {
    height: 340px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
}

.carousel img:first-child {
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img {
         width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
         width: 100%;
    }
}