.home__container {
    background-color: #dac2b8;
    height: 100vh;
    text-align: center;
}

.text--strong {
    font-weight: 700;
}

.home__description {
    max-width: 850px;
    margin: 0 auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__title--desc {
    font-size: 48px;
    color: #ad8371;
}

.home__para {
    margin-top: 24px;
    color: #ad8371;
}

.home__title--prod {
    font-size: 40px;
    color: #ad8371;
    margin-bottom: 48px;
}

.shape {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6; 
    pointer-events: none;
  }

.shape-two {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.6; 
  }

  @media (max-width:550px) {
    .home__description {
      width: 350px;
      height: 300px;
    }

    .home__title--desc {
        font-size: 36px;
    }

    .home__title--prod {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .home__para {
        font-size: 12px;
    }

    .shape, .shape-two {
        opacity: 0.4;
    }
  }

  @media (max-width:900px) {
    .home__description {
      max-width: 450px;
    }

    .shape, .shape-two {
        opacity: 0.3;
    }
  }

